<% layout('layouts/boilerplate')%>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <img src="<%= player.image%>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= player.name%>
                    </h5>
                    <p class="card-text">
                        <%= player.role %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        About
                    </li>
                </ul>
                <p class="card-text">
                    <%= player.about%>
                </p>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        Centuries:
                    </li>
                    <li class="list-group-item">

                        Test: <%=player.Test%>
                            <br>
                            ODI: <%=player.ODI%>
                                <br>
                                T20: <%=player.T20%>

                    </li>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-muted">
                            Wickets:
                        </li>
                        <li class="list-group-item">

                            Test: <%=player.TestW%>
                                <br>
                                ODI: <%=player.ODIW%>
                                    <br>
                                    T20: <%=player.T20W%>

                        </li>
                        <li class="list-group-item text-muted"> Author: <%=player.owner.username%>
                        </li>
                    </ul>
                    <% if( currentUser && player.owner.equals(currentUser._id)) {%>
                        <div class="card-body">
                            <a class="card-link btn btn-info" href="/players/<%=player._id%>/edit">Edit</a>
                            <form class="d-inline" action="/players/<%=player._id%>?_method=DELETE" method="POST">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                        <% } %>


            </div>
        </div>
    </div>